<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'GeekApp - TaskTracker'">

    <head  th:replace="include/header :: common_header(${title})">
    </head>

    <body>
        <div class="content">
            <div th:insert="include/header :: menu"></div>
            <h1 th:text="${title}"></h1>
            <br>
            <h4>Список задач</h4>
            <table class="task-table">
                <thead>
                <tr >
                    <td>ID</td>
                    <td>Caption</td>
                    <td>Owner</td>
                    <td>Status</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="t : ${tasks}">
                        <td th:text="${t.id}"></td>
                        <td th:text="${t.caption}"></td>
                        <td th:text="${t.owner}"></td>
                        <td th:text="${t.status}"></td>
                        <td th:text="${t.description}"></td>
                        <td th:text="${t.id}"></td>
                    </tr>
                </tbody>
            </table>

            <div th:insert="include/footer :: common_footer"></div>
        </div>
    </body>
</th:block>
</html>