<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'Задачи'">
    <head  th:replace="include/header :: common_header(${title})">
    </head>
    <body>
        <div class="content">
            <div th:insert="include/header :: logo"></div>
            <h1 th:text="${title}"></h1>

            <div class="add-task"><a th:href="@{/tasks/edit}"><img th:src="@{/resources/img/plus.png}" alt="+" class="add-task-img">Добавить задачу</a></div>
            <table class="task-table">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Caption</td>
                    <td>Owner</td>
                    <td>Status</td>
                    <td>Assigned</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="t : ${tasks}">
                        <td th:text="${t.id}"></td>
                        <td><a th:href="@{'/tasks/edit?id=' + ${t.id}}" th:text="${t.caption}"></a></td>
                        <td th:text="${t.owner}"></td>
                        <td th:text="${t.status}"></td>
                        <td th:text="${t.assigned}"></td>
                        <td th:text="${t.description}"></td>
                    </tr>
                </tbody>
            </table>
            <div th:insert="include/footer :: common_footer"></div>
        </div>
    </body>
</th:block>
</html>