<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'Задачи'">
    <head  th:replace="include/header :: common_header(${title})">
    </head>
    <body>
        <div class="content">
            <div th:insert="include/header :: logo"></div>
            <h1 th:text="${title}"></h1>

            <form th:action="@{/tasks/edit}" th:object="${task}" method="POST">
                <input th:if="*{id != null}" type="hidden" th:field="*{id}"/>
                <table class="task-table">
                    <tbody>
                        <tr>
                            <td>Название задачи</td>
                            <td>
                                <input type="text" th:field="*{caption}" placeholder="Название задачи"/>
                                <div class="field-error" th:if="${#fields.hasErrors('caption')}" th:errors="*{caption}" />
                            </td>
                        </tr>
                        <tr>
                            <td>Инициатор</td>
                            <td>
                                <select th:field="*{owner}">
                                    <option th:each="initiator : ${initiators}"
                                            th:value="${initiator.id}"
                                            th:text="${initiator.username}">
                                    </option>
                                </select>
                                <div class="field-error" th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" />
                            </td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>
                                <input th:field="*{description}"  placeholder="Описание"/>
                                <div class="field-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                            </td>
                        </tr>
                        <tr th:if="*{id != null}">
                            <td>Статус</td>
                            <td>
                                <select th:field="*{status}">
                                    <option th:each="status : ${T(com.geekbrains.tasktracker.entities.Task.Status).values()}"
                                            th:value="${status}"
                                            th:text="${status.getRussianTitle()}">
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr th:if="*{id != null}">
                            <td>Назначена</td>
                            <td>
                                <select th:field="*{assigned}">
                                    <option value="">- Не назначена -</option>
                                    <option th:each="assignee : ${assignees}"
                                            th:value="${assignee.id}"
                                            th:text="${assignee.username}">
                                    </option>
                                </select>
                                <div class="field-error" th:if="${#lists.contains(assignees, task.assigned) == false}"
                                     th:text="${'Задача назначена на пользователя ' + task.assigned.username + ', не являющимся исполнителем!'}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td th:if="*{id == null}" colspan="2"><input type="submit" value="Добавить"/></td>
                            <td th:if="*{id != null}" colspan="2">
                                <input type="submit" value="Сохранить"/>
                                <input type="submit" name="delete_action" value="Удалить"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div th:insert="include/footer :: common_footer"></div>
        </div>
    </body>
</th:block>
</html>